<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsVoterWithCOnfidence"
        tools:targetApi="31">
        <activity
            android:name=".Useractivity"
            android:exported="false" />
        <activity
            android:name=".Chooserole"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Closevotinglines"
            android:exported="false" />
        <activity
            android:name=".Declareresult"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Resultsfinal"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Votecandidates"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Viewcandidates"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Createrepresentatitve"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Deletecandidate"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Adminactivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Adminlogin"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Adminregistration"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Userregistration"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".Userlogin"
            android:exported="false"
            android:noHistory="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />
    </application>

</manifest>